---
all:
  children:
    ingress:
      hosts:
        1.2.3.4:
          yggdrasil_encryption_public_key:
          yggdrasil_encryption_private_key:
  vars:
    ansible_user: root
    yggdrasil_node_name: "mesh.party"
